name: "Install Built-in Extensions"
description: "Install built-in extensions for CodeOSS CI"
inputs:
  cache-version:
    description: "The cache version"
    required: true
outputs:
  greeting:
    description: "The built-in extensions cache key"
    value: ${{ steps.prepare-built-in-extensions-cache-key.outputs.key }}
runs:
  using: "composite"
  steps:
    - name: Create .build folder
      run: mkdir -p .build
      shell: bash

    - name: Prepare built-in extensions cache key
      id: prepare-built-in-extensions-cache-key
      run: echo "key=$(node build/azure-pipelines/common/computeBuiltInDepsCacheKey.js)" >>"$GITHUB_OUTPUT"
      shell: bash

    - name: Restore built-in extensions cache
      id: restore-built-in-extensions-cache
      uses: actions/cache@v3
      with:
        path: ".build/builtInExtensions"
        key: "builtin-extensions${{ steps.prepare-built-in-extensions-cache-key.outputs.key }}${{ inputs.cache-version }}"

    - name: Download built-in extensions
      if: ${{ steps.restore-built-in-extensions-cache.outputs.cache-hit != 'true' }}
      run: node build/lib/builtInExtensions.js
      shell: bash
