# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ feature ]
  pull_request:
    branches: [ feature ]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.17.0
      - run: yarn

      - name: Build for macOS
        if: startsWith(matrix.os, 'macos')
        run: |
          yarn gulp vscode-darwin-x64-min
          tar -cvJf ../VSCode-darwin-x64.tar.xz ../VSCode-darwin-x64

      - name: Build for Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          yarn gulp vscode-linux-x64-min
          tar -cvJf ../VSCode-linux-x64.tar.xz ../VSCode-linux-x64